<%- include ('layouts/head.ejs') %>
    <title>LinkedItems | Home Page </title>

    <body>
        <%- include ('layouts/navigation.ejs') %>
            <!-- Hero Section Begin -->
            <section class="hero">
                <div class="hero__slider owl-carousel">
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-7 col-md-8">
                                    <div class="hero__text">
                                        <h6>Hot Collections</h6>
                                        <h2>All Seasons Collections</h2>
                                        <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p>
                                        <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero Section End -->

            <br>
            <br>

            <!-- Product Section Begin -->
            <section class="product spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Best Sellers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row product__filter">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <ul>
                                        <li class="product__hover">
                                            <a href="#"><img src="https://www.ubuy.com.eg/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFGYTlkaU9vcFMuX0FDX1VMMTUwMF8uanBn.jpg" alt="Armani EXCHANGE tshirt"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Black Armani Exchange tshirt</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>$50</h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#"><img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/228f63b3-95fd-4735-be5d-5005dc72d700/los-angeles-lakers-diamond-icon-edition-dri-fit-nba-swingman-jersey-2mWP2V.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Old Lakers Jersy</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>$25</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/81nIH2vlmJL.jpg" alt="Nike Vapormax flynit 3"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Nike Vapormax flynit 3</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>$250</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#"><img src="https://fivebooks.com/app/uploads/2010/04/0312273231.01.LZ_.jpg" alt="Moth Smoke"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Moth Smoke</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>$60</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Product Section End -->

            <%- include ('layouts/foot.ejs') %>